# DLT pipeline

This Delta Live Tables (DLT) definition is executed using a pipeline defined in resources/dagm_dabs_demo_pipeline.yml.

In [0]:
CREATE OR REFRESH MATERIALIZED VIEW taxi_raw
AS SELECT * FROM samples.nyctaxi.trips;

In [0]:
CREATE OR REFRESH MATERIALIZED VIEW silver_taxi
AS 
SELECT 
  tpep_pickup_datetime,
  tpep_dropoff_datetime,
  trip_distance,
  fare_amount,
  CAST(pickup_zip AS INT) AS pickup_zip,
  CAST(dropoff_zip AS INT) AS dropoff_zip
FROM 
  LIVE.taxi_raw;